In [3]:
# statistical imputation transform for the horse colic dataset

from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer

In [4]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
dataframe = read_csv(url, header=None, na_values='?')

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       299 non-null    float64
 1   1       300 non-null    int64
 2   2       300 non-null    int64
 3   3       240 non-null    float64
 4   4       276 non-null    float64
 5   5       242 non-null    float64
 6   6       244 non-null    float64
 7   7       231 non-null    float64
 8   8       253 non-null    float64
 9   9       268 non-null    float64
 10  10      245 non-null    float64
 11  11      256 non-null    float64
 12  12      244 non-null    float64
 13  13      196 non-null    float64
 14  14      194 non-null    float64
 15  15      53 non-null     float64
 16  16      198 non-null    float64
 17  17      182 non-null    float64
 18  18      271 non-null    float64
 19  19      267 non-null    float64
 20  20      135 non-null    float64
 21  21      102 non-null    float64
 22  22      299 non-null    float64
 23  23      300 non-null    int64
 24  24      300 non-null    int64
 25  25      300 non-null    int64
 26  26      300 non-null    int64
 27  27      300 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.8 KB

In [5]:
# split into input and output elements
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]

In [24]:
# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))

Missing: 1605

In [15]:
# define imputer
imputer = SimpleImputer(strategy='median')

In [17]:
# fit on the dataset
imputer.fit(X)

SimpleImputer(strategy='median')

In [18]:
# transform the dataset
Xtrans = imputer.transform(X)

In [19]:
# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 0

In [20]:
Xtrans[0,:]

array([2.00000e+00, 1.00000e+00, 5.30101e+05, 3.85000e+01, 6.60000e+01,
       2.80000e+01, 3.00000e+00, 3.00000e+00, 3.00000e+00, 2.00000e+00,
       5.00000e+00, 4.00000e+00, 4.00000e+00, 2.00000e+00, 1.00000e+00,
       5.00000e+00, 3.00000e+00, 5.00000e+00, 4.50000e+01, 8.40000e+00,
       2.00000e+00, 2.25000e+00, 2.00000e+00, 1.13000e+04, 0.00000e+00,
       0.00000e+00, 2.00000e+00])